body {
    background-image: url("../img/stars.jpg");
    background-position: left bottom;
    background-repeat: repeat;
    text-decoration-color: white;
    font-family: SW;
}

@font-face {
    font-family: SW; /* Гарнитура шрифта */
    src: url(../fonts/sw.ttf); /* Путь к файлу со шрифтом */
}

.wrapper {
    display: grid;
    grid-template-columns: 10% 10% 20% 30%;
    grid-template-rows: 33% 33% 33% ;
    grid-template-areas:
            "e1 b m inf"
            "e2 b inv inf"
            "e3 b ach inf";
    grid-gap: 10px;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

#body {
    grid-area: b;

}
#body > img {
    max-width: 100%;
    max-height: 100%;
}
#eqip1 {
    grid-area: e1;
    height: 100px;
    width: 100px;
    border: 1px solid gold;
}
#eqip2 {
    grid-area: e2;
    height: 100px;
    width: 100px;
    border: 1px solid gold;
}
#eqip3 {
    grid-area: e3;
    height: 100px;
    width: 100px;
    border: 1px solid gold;
}
#money {
    grid-area: m;
    border: 1px solid gold;
}
#inventory {
    grid-area: inv;
    border: 1px solid gold;
}
#achieves {
    grid-area: ach;
    border: 1px solid gold;
}
#info {
    grid-area: inf;
    border: 1px solid gold;
    padding: 5px;
}

