body {
    background-image: url("../img/stars.jpg");
    background-position: left bottom;
    background-repeat: repeat;
    text-decoration-color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 20vh 10% 20% 30%;
    grid-template-rows: 33% 33% 33% ;
    grid-template-areas:
            "e1 b m inf"
            "e2 b inv inf"
            "e3 b ach inf";
    grid-gap: 10px;
}

h1 {
    color: white;
}

#body {
    grid-area: b;
    border: 1px solid white;
}
#eqip1 {
    grid-area: e1;
    height: 50px;
    width: 50px;
    border: 1px solid gold;
}
#eqip2 {
    grid-area: e2;
    height: 50px;
    width: 50px;
    border: 1px solid gold;
}
#eqip3 {
    grid-area: e3;
    height: 50px;
    width: 50px;
    border: 1px solid gold;
}
#money {
    grid-area: m;
    border: 1px solid gold;
}
#inventory {
    grid-area: inv;
    border: 1px solid gold;
}
#achieves {
    grid-area: ach;
    border: 1px solid gold;
}
#info {
    grid-area: inf;
    border: 1px solid gold;
}

