body {
    background-image: url("../img/stars.jpg");
    background-position: left bottom;
    background-repeat: repeat;
    text-decoration-color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 10% 10% 20% 30%;
    grid-template-rows: 33% 33% 33% ;
    grid-template-areas:
            "p1 e p6 p4"
            "p2 e p5 p5"
            "p3 e p5 p5";
    grid-gap: 50px;
}

#empty {
    grid-area: e;
}

#planet1 {
    grid-area: p1;
}

#planet2 {
    grid-area: p2;
}

#planet3 {
    grid-area: p3;
}

#planet4 {
    grid-area: p4;
}

#planet5 {
    grid-area: p5;
}

#planet6 {
    grid-area: p6;
}



