body {
    background-image: url("../img/stars.jpg");
    background-position: left bottom;
    background-repeat: repeat;
    text-decoration-color: white;
    font-family: SW;
}

@font-face {
    font-family: SW; /* Гарнитура шрифта */
    src: url(../fonts/sw.ttf); /* Путь к файлу со шрифтом */
}
.wrapper {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 33% 33% 33% ;
    grid-template-areas:
            "b t"
            "b t"
            "b it";
    grid-gap: 10px;
}

h1 {
    color: white;
}

p {
    text-decoration-color: white;
    color: white;
}

#body {
    grid-area: b;

}

#text {
    grid-area: t;
    border: 1px solid gold;
    padding: 5px;
}
#item {
    grid-area: it;
    border: 1px solid gold;
}

